body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
   TEXT-ALIGN: left;
  PADDING-RIGHT: 2px;
  PADDING-LEFT: 2px;
  PADDING-BOTTOM: 2px;
  MARGIN: 2px 10% 10px;
  TEXT-TRANSFORM: none;
  COLOR: #191970;
  PADDING-TOP: 2px;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  BACKGROUND-COLOR: #ffffff;
  TEXT-ALIGN: left;
  FONT-VARIANT: normal;
  TEXT-DECORATION: none
}

DIV.header
{
  BORDER-RIGHT: #87ceeb 1px solid;
  PADDING-RIGHT: 2px;
  BORDER-TOP: #87ceeb 1px solid;
  PADDING-LEFT: 2px;
  FONT-WEIGHT: bolder;
  FONT-SIZE: x-large;
  PADDING-BOTTOM: 2px;
  MARGIN: 2px 10% 10px;
  TEXT-TRANSFORM: none;
  BORDER-LEFT: #87ceeb 1px solid;
  COLOR: #191970;
  PADDING-TOP: 2px;
  BORDER-BOTTOM: #87ceeb 1px solid;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  BACKGROUND-COLOR: #b0c4de;
  TEXT-ALIGN: left;
  FONT-VARIANT: normal;
  TEXT-DECORATION: none
}

DIV.graph
{
  PADDING-RIGHT: 2px;
  PADDING-LEFT: 2px;
  FONT-WEIGHT: bolder;
  FONT-SIZE: x-large;
  PADDING-BOTTOM: 2px;
  MARGIN: 2px 10% 10px;
  TEXT-TRANSFORM: none;
  COLOR: #ffffff;
  PADDING-TOP: 2px;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  BACKGROUND-COLOR: #ffffff;
  TEXT-ALIGN: left;
  FONT-VARIANT: normal;
  TEXT-DECORATION: none
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
  font-size: 20px;
}

div.sidebar {
text-align:right;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
